#user {
	background-image:url(maxresdefault.jpg);
    float: right;
    width: 25%;
	height: 100%;
	z-index: 100;
	position: absolute;
	left:75%;
	top:0px;
}
font{
	color:white;
}
#result{
		color:white;
}
#threeJS {
	float: left;
    z-index: 1;
    position: absolute;
    left: 0px;
	top: 0px;
	width: 75%;
	height: 100%;
}
div{
	text-align: center;
}
select {
    width: auto;
    height: auto;
}
input {
    width: auto;
    height: auto;
}
.season{
	color:white;
	background-color:green;
}